*.db
*.sqlite3
app/db/chroma_db/
app/db/instance/

.claude/

nul

.env
app/.env
app/.venv/
__pycache__/
*.pyc
venv/

node_modules/
.lightning_studio

.vscode
.idea
.cursor-server
.vscode-server
.windsurf-server