.nav-item {
  position: relative;
  cursor: pointer;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 3px;
  border-radius: 5rem;
  width: 0;
  background: linear-gradient(to right, #06b6d4, #3b82f6);
  transition: width 0.35s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item:hover {
  color: #06b6d4;
}